html,
body {
  margin: 0;
  padding: 0;
  background-color: #444;
  color: #eee;
}

.statement {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.statement > button {
  width: 3rem;
  align-self: flex-end;
}

.statement > div {
  flex: 1;
  display: flex;
  width: 100%;
}

.statement > div > * {
  flex: 1;
  width: 100%;
}

.statement > div ~ div::before {
  content: "";
  border-left: 2px solid #eee;
  border-bottom: 2px solid #eee;
  width: 0.4rem;
  height: 0.5em;
  float: left;
}
