@import "tailwindcss";

@theme {
  --color-white: #fafafa;
  --color-reserved: #569cd6;
  --color-variable: #4fc1ff;
  --color-type: #4ec9b0;
  --color-property: #9cdcfe;
  --color-string: #ce9178;
  --color-number: #b5cea8;
  --color-boolean: #569cd6;
  --color-array: #fafafa;
  --color-object: #fafafa;
  --color-method: #dcdcaa;
  --color-border: #444444;
  --color-disabled: #7f8c8d;
  --color-error: #c7254e;

  --color-editor: #1e1e1e;
  --color-dropdown-default: #252526;
  --color-dropdown-hover: #2a2d2e;
  --color-dropdown-scrollbar: #464647;
  --color-dropdown-selected: #04395e;
}

@layer base {
  * {
    border-color: #444444;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #eee;
  line-height: 1.25;
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  tab-size: 2;
}

.dropdown-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1;
}

.dropdown-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-dropdown-scrollbar;
}

.input-quotes::before {
  @apply absolute top-0 left-0 text-string content-[open-quote];
}

.input-quotes::after {
  @apply absolute top-0 right-0 text-string content-[close-quote];
}

.number-input[type="number"]::-webkit-outer-spin-button,
.number-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input[type="number"] {
  appearance: textfield;
}
